@media only screen and (max-width: 480px) { 
    .desktop-show{
            display: block; 
            width: 100%;
        }
    .desktop-show{
            display: none;  
            width: 100%;
        }
    }
    
    
    @media only screen and (min-width: 480px) { 
    .mobile-show{
            display: block;  
            width: 100%;
        }
    .mobile-show{
            display: none;  
            width: 100%;
        }
    }
.body {
    font-family: 'Francois One', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Padauk', sans-serif;
}
.navbar {

}
.navbar-logo{
    padding-left: 24px;
}

.menu-item {
    list-style: none;
    padding-right: 24px;
    display: flex;
    justify-content: end;
    justify-items: self-end;
}
