
body{
    font-family:monospace;
    padding: 5px;
    margin: auto;
}
#main-title { 
    font-size: 64px;
    color: rgb(27, 39, 143);
    border-style: dashed; color: rgb(83, 120, 141);
}

.paragraph-one {
    border: 2px solid lightgrey;
}


.paragraph-two {
    background-color: lightgrey;
    color: rgb(88, 45, 20);
}

.imgbkk {
    box-sizing: 600px;
    box-shadow: 10px; color: cadetblue;
    border-style: dashed; color: cadetblue;
    stroke-width: 2px;
    border-radius: 10px;
    padding-top: 10px;

}
.basicinfobkk {
    margin-top: 10px;
    border-radius: 5px;
    width: 200px;
    box-sizing: border-box;
    background-color: darkgrey;
    color: rgb(71, 69, 68);
    font-weight: 600; size: 18px;
    font-style: normal;
    padding: 5px;

}
.worktravel{
    width: 300px;
    background-color: darkgray;
    border-radius: 5px;
    color: rgb(3, 3, 3);
    border-color: rgb(251, 255, 0);
    border-radius: 10px;
    padding: 10px;
}
.wikipedialink1 {
    padding-bottom: 10px;
    color: chartreuse;
    padding: 10px;
}